/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */
/* 
@font-face {
	font-family: "GrotzecCond-Demibold";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}

@font-face {
	font-family: "GrotzecCond-DemiboldItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}

@font-face {
	font-family: "LeJeunePoster-Regular";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
}

@font-face {
	font-family: "LeJeunePoster-RegularItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
} */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ----- SET COLOR VARIABLES ----- */

:root {
	--yellow: #fed527;
	--dark-yellow: #b3940d;
	--navy: #0001b3;
	--dark-navy: #000066;
	--pink: #ff0dd9;
	--font-main: #3e3d3d;
	--font-sub: #747272;
	--background-gray: #edebeb;
	--serif: "PT Serif", serif;
	--sans-serif: "PT Sans", sans-serif;
}

/* ----------------------  BASIC CSS FOR MY STORY ------------------------------ */

* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	color: var(--font-main);
}

h1,
h2 {
	font-family: var(--sans-serif);
}

.title__headline {
	margin: 0 auto;
	font-size: 5em;
	line-height: 1;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	font-family: var(--serif);
	line-height: 1.2;
}

article {
	width: 60%;
	max-width: 600px;
	margin: 0 auto;
}

.swiper-container {
	width: 100%;
	height: 100vh;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------- #title ---------- */

#title {
	display: block;
}

.title__container {
	display: flex;
}

.title__container > * {
	height: 100vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title__left {
	background: var(--background-gray);
}

.title__left__img {
	width: 60%;
}

.title__right__container {
	width: 90%;
}

.byline {
	/* font-family: "GrotzecCond-Demibold"; */
	font-family: "PT Sans", sans-serif;
	text-align: center;
	margin: 2em;
}

.title__intro {
	width: 50%;
	text-align: center;
}

/* ---------- #title ---------- */
