/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
	font-family: "GrotzecCond-Demibold";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}

@font-face {
	font-family: "GrotzecCond-DemiboldItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}

@font-face {
	font-family: "LeJeunePoster-Regular";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
}

@font-face {
	font-family: "LeJeunePoster-RegularItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ----- SET COLOR VARIABLES ----- */

:root {
	--yellow: #fed527;
	--dark-yellow: #b3940d;
	--navy: #0001b3;
	--dark-navy: #000066;
	--pink: #ff0dd9;
	--dark-pink: #b31299;
	--font-main: #3e3d3d;
	--font-sub: #747272;
	--background-gray: #edebeb;
	--serif: "PT Serif", serif;
	--sans-serif: "PT Sans", sans-serif;
	--hand-written: "Just Me Again Down Here", cursive;
	--grotzec: "GrotzecCond-Demibold";
	--grotzec-italic: "GrotzecCond-DemiboldItalic";
	--lejeune: "LeJeunePoster-Regular";
	--lejeune-italic: "LeJeunePoster-RegularItalic";
}

/* ---------- NAV BAR ---------- */
#menuToggle {
	width: 100px;
}

/* ----------------------  BASIC CSS FOR MY STORY ------------------------------ */

* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	color: var(--font-main);
	scroll-behavior: smooth;
}

a:link,
a:visited {
	color: var(--pink);
}

a:hover {
	color: var(--dark-pink);
	transition: color 0.4s ease;
}

h1,
h2 {
	font-family: var(--grotzec), var(--sans-serif);
}

h2 {
	margin-top: 3em;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	font-family: var(--serif);
	line-height: 1.3;
}

img {
	border: 0;
}

article {
	width: 60%;
	max-width: 650px;
	margin: 0 auto;
}

/* ---------- SWIPER ---------- */

.hero-img__container {
	width: 50vw;
	max-width: 960px;
	margin: 2em auto 0;
}

.swiper-autoplay__img {
	display: inline;
	width: 50%;
}

.swiper-container__autoplay {
	width: 50vw;
	height: 25vw;
	max-width: 960px;
	max-height: 480px;
	overflow: hidden;
	background: black;
}

.swiper-container__autoplay > .swiper-wrapper {
	transition-property: all;
	transition-duration: 3s;
}

#stop-auto-swipe {
	font-family: var(--sans-serif);
	color: #ccc;
	margin: 0;
	font-size: 14px;
	cursor: pointer;
	text-align: right;
}

#stop-auto-swipe:hover {
	color: black;
	font-weight: bold;
}

/* ---------- #title ---------- */

#intro {
	margin-bottom: 5em;
}

#hero {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.title-text__intro-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.title-text__intro-container > * {
	max-width: 40%;
	opacity: 0;
}

.title-text__2 {
	text-align: right;
}

.title-text__main {
	font-size: 5em;
	line-height: 1;
	margin: 0.2em auto;
	text-align: center;
}

.title-text__3 {
	text-align: center;
	opacity: 0;
	width: 60%;
	margin: 2em auto 6em;
}

.active {
	opacity: 1;
	transition: opacity 1s ease;
}

.click-to-unmute {
	alignment-baseline: central;
	margin: 1em auto;
}

.click-to-unmute > * {
	display: inline;
	opacity: 0.5;
}

.byline > * {
	font-family: var(--grotzec);
	text-align: center;
	margin: 0;
}

/* ---------- PART SWITCH ---------- */

.swiper-next-h,
.swiper-prev-h {
	color: white;
	height: 100vh;
	background: rgba(255, 255, 255, 0.2);
	top: 0;
	opacity: 0.5;
	margin: 0;
	width: 50px;
}

.swiper-next-h {
	right: 0;
}

.swiper-prev-h {
	left: 0;
}

.swiper-button-disabled {
	visibility: hidden;
}

.part__intro {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.part-title-container {
	width: 40%;
	color: white;
	position: relative;
}

.arrow {
	width: 50%;
	text-align: center;
	position: absolute;
	top: 110%;
	left: 25%;
}

.fa-chevron-down {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: fa-angle-down;
	animation-timing-function: ease;
}

.arrow > a:link,
.arrow > a:visited {
	color: white;
	opacity: 0.5;
}

.arrow > a:hover {
	opacity: 1;
	transition: opacity 0.4s ease;
}

@keyframes fa-angle-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-7px);
	}
	100% {
		transform: translateY(0);
	}
}

.navigation-description {
	margin: 2em auto 0;
}

.navigation-description > p {
	font-family: var(--sans-serif);
	margin: 0.2em;
	font-size: 0.7em;
	opacity: 0.5;
}

.part-1__intro {
	background: var(--dark-navy);
	background-image: url(assets/silhouette/cam2.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 55px) bottom;
	background-size: auto 90vh;
}

.part-2__intro {
	background: var(--dark-pink);
	background-image: url(assets/silhouette/emma2.svg);
	background-repeat: no-repeat;
	background-position: 55px bottom;
	background-size: auto 80vh;
}

.part-3__intro {
	background: var(--dark-yellow);
	background-image: url(assets/silhouette/thao2.svg);
	background-repeat: no-repeat;
	background-position: 85% bottom;
	background-size: auto 90vh;
}

.part__main {
	margin: 100px auto;
}

#part-1 {
	border-left: 50px solid var(--navy);
}

#part-2 {
	border-left: 50px solid var(--pink);
}

#part-3 {
	border-left: 50px solid var(--yellow);
}

.quote {
	font-size: 1.5em;
	margin: 3em auto;
}

.quote__text {
	margin: 0;
}

.quote__text > * {
	opacity: 0.3;
}

.quote__text__active {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.quote__mute-button {
	opacity: 0.5;
	cursor: pointer;
}

.quote__mute-button:hover {
	opacity: 1;
}

/* ---------- PHOTO ----------- */
.story__img__container {
	width: 50vw;
	max-width: 960px;
	margin: 3em auto;
}

.story__img__single {
	width: 25vw;
	max-width: 480px;
}

.story__img {
	width: calc(25vw - 2.5px);
}

.story__img__cap > p {
	font-family: var(--sans-serif);
	color: var(--font-sub);
	margin: 0;
	font-size: 14px;
	text-align: right;
}

/* ---------- PART END ---------- */
.part__end {
	width: 100%;
	height: 100vh;
}

#part-1__end {
	background: var(--dark-navy);
}

/* ---------- DATA VIZ --------- */
h4 {
	margin: 0 auto;
	width: 45ch;
	text-align: center;
}

.chart {
	width: 90%;
	margin: 0 auto;
	font-family: var(--sans-serif);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#match-stock,
#survey {
	height: 300px;
	width: 950px;
	max-width: 1000px;
	position: relative;
}

#questions {
	font-size: 10px;
	color: rgb(147, 147, 147);
	line-height: 1;
	margin: 0;
}

#questions > li {
	margin: 0.8em 0;
	cursor: pointer;
}

.question-active {
	font-weight: bold;
	color: black;
}

path.domain {
	display: none;
}

.x-axis > .tick > line {
	display: none;
}
